<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/static/index/css/swiper-3.4.2.min.css">
  <link rel="stylesheet" href="/static/index/css/GL.css">
  <script src="/static/index/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="/static/index/js/swiper-3.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="/static/index/js/swiper-3.4.2.min.js"></script>

</head>

<body>
  <div class="top_find">
    <div class="top_find_son">
      <img src="/static/index/img/top_find_logo.png" alt="">
      <div class="input_find">
        <input type="text" placeholder="Makeup remover" />
        <span style="background: url(../static/index/img/img_12.png) 0 -1px;"></span>
        <a href="/static/#"><img src="/static/index/img/img_09.png" /></a>
      </div>
    </div>
  </div>
  <ul class="left_floor">
    <li class="left_floor_xiang">Enjoy quality</li>
    <li class="left_floor_fu">Clothing and Beauty</li>
    <li class="left_floor_jia">Home appliances mobile phone</li>
    <li class="left_floor_dian">computer digital</li>
    <li class="left_floor_3C">3Csports</li>
    <li class="left_floor_ai">Love to eat</li>
    <li class="left_floor_mu">Mother and baby home</li>
    <li class="left_floor_tu">book car</li>
    <li class="left_floor_you">Game Finance</li>
    <li class="left_floor_lv">travel health</li>
    <li class="left_floor_hai">Not enough shopping yet</li>
    <li class="left_floor_ding">top</li>
  </ul>
  <header>
    <div class="head">
      <a href="/static/#"><img src="/static/index/img/img_01.png" /></a>
      <p>X</p>
    </div>
    <!--head-->
    <div class="header_head">
      <div class="header_head_box">
        <a href="/static/#" class="img"><img src="/static/index/img/logo.jpg" /></a>
        <b class="header_head_p">
  						<a href="/static/#">
  							<img src="/static/index/img/img_05.png" style="border-radius: 50%;"/>
  							<!--<span class="glyphicon glyphicon-map-marker"></span>-->
  							 Beijing</a>
  						<div class="header_head_p_cs">
  							<a href="/static/#" style="background: #C81623;color: #fff;">Beijing</a>
  							<a href="/static/#">Shanghai</a>
  							<a href="/static/#">Tianjin</a>
  							<a href="/static/#">Chongqing</a>
  							<a href="/static/#">Hebei</a>
  							<a href="/static/#">Shanxi</a>
  							<a href="/static/#">Henan</a>
  							<a href="/static/#">Liaoning</a>
  							<a href="/static/#">Jilin</a>
  							<a href="/static/#">Heilongjiang</a>
  							<a href="/static/#">Inner Mongolia</a>
  							<a href="/static/#">Jiangsu</a>
  							<a href="/static/#">Shandong</a>
  							<a href="/static/#">Anhui</a>
  							<a href="/static/#">Zhejiang</a>
  							<a href="/static/#">Fujian</a>
  							<a href="/static/#">hubei</a>
  							<a href="/static/#">Hunan</a>
  							<a href="/static/#">Guangdong</a>
  							<a href="/static/#">Guangxi</a>
  							<a href="/static/#">Jiangxi</a>
  							<a href="/static/#">Sichuan</a>
  							<a href="/static/#">Hainan</a>
  							<a href="/static/#">Guizhou</a>
  							<a href="/static/#">Yunnan</a>
  							<a href="/static/#">Tibet</a>
  							<a href="/static/#">Shaanxi</a>
  							<a href="/static/#">Gansu</a>
  							<a href="/static/#">Qinghai</a>
  							<a href="/static/#">Ningxia</a>
  							<a href="/static/#">Xinjiang</a>
  							<a href="/static/#">Hong Kong and Macao</a>
  							<a href="/static/#">Taiwan</a>
  							<a href="/static/#">Diaoyu Islands</a>
  							<a href="/static/#">overseas</a>
  						</div>
  					</b>
        <ul>
          <li>
            <a href="http://auth.gulimall.com/login.html">Hello,[[${session.loginUser==null?"Please log in":session.loginUser.nickname}]]</a>
          </li>
          <li>
            <a href="http://auth.gulimall.com/reg.html" class="li_2">Free registration</a>
          </li>
          <span>|</span>
          <li>
            <a href="/static/#">my order</a>
          </li>


        </ul>
      </div>
    </div>
    <!--Search navigation-->
    <div class="header_sous">
      <div class="header_form">
        <input id="searchText" type="text" placeholder="" />
        <span style="background: url(../static/index/img/img_12.png) 0 -1px;"></span>
        <!--<button><i class="glyphicon"></i></button>-->
        <a href="#" ><img src="/static/index/img/img_09.png" onclick="search()" /></a>
      </div>
      <div class="header_ico">
        <div class="header_gw">
          <img src="/static/index/img/img_15.png" />
          <span><a href="http://cart.gulimall.com/cart.html">My shopping cart</a></span>
          <span>0</span>
        </div>
        <div class="header_ko">
          <p>There are no items in the shopping cart yet, hurry up and buy now!</p>
        </div>
      </div>
      <div class="header_form_nav">
        <ul>
          <li>
            <a href="/static/#" class="aaaaa">Full999reduce300</a>
          </li>
          <li>
            <a href="/static/#">GioneeS11</a>
          </li>
          <li>
            <a href="/static/#">agricultural supplies</a>
          </li>
          <li>
            <a href="/static/#">Warmth Special</a>
          </li>
          <li>
            <a href="/static/#">Washing Machine Day</a>
          </li>
          <li>
            <a href="/static/#">Seventh dimension sanitary napkin</a>
          </li>
          <li>
            <a href="/static/#">automatic gearbox oil</a>
          </li>
          <li>
            <a href="/static/#">supermarket</a>
          </li>
        </ul>
      </div>
      <nav>
        <ul>
          <li>
            <a href="/static/#">flash sale</a>
          </li>
          <li>
            <a href="/static/#">Coupon</a>
          </li>
          <li>
            <a href="/static/#">flash sale</a>
          </li>
          <li>
            <a href="/static/#">auction</a>
          </li>
        </ul>
        <div class="spacer">|</div>
        <ul>
          <li>
            <a href="/static/#">apparel</a>
          </li>
          <li>
            <a href="/static/#">supermarket</a>
          </li>
          <li>
            <a href="/static/#">fresh food</a>
          </li>
          <li>
            <a href="/static/#">global shopping</a>
          </li>
        </ul>
        <div class="spacer">|</div>
        <ul>
          <li>
            <a href="/static/#">finance</a>
          </li>
        </ul>
      </nav>
      <div class="right">
        <a href="/static/#"><img src="/static/index/img/img_21.png" /></a>
      </div>
    </div>
    <!--Carousel main content-->
    <div class="header_main">
      <div class="header_banner">
        <div class="header_main_left">
          <ul>
            <li th:each="catagory:${catagories}" >
              <a href="/static/#" class="header_main_left_a" ctg-data="3" th:attr="ctg-data=${catagory.catId}"><b th:text="${catagory.name}"></b></a>
            </li>
          </ul>

        </div>
        <div class="header_main_center">
          <div class="swiper-container swiper1">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="/static/#"><img src="/static/index/img/lunbo.png" /></a>
              </div>

              <div class="swiper-slide">
                <a href="/static/#"><img src="/static/index/img/lunbo3.png" /></a>
              </div>

              <div class="swiper-slide">
                <a href="/static/#"><img src="/static/index/img/lunbo6.png" /></a>
              </div>
              <div class="swiper-slide">
                <a href="/static/#"><img src="/static/index/img/lunbo7.png" /></a>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
          </div>
          <div class="header_main_center_b">
            <a href="/static/#"><img src="/static/index/img/5a13bf0bNe1606e58.jpg" /></a>
            <a href="/static/#"><img src="/static/index/img/5a154759N5385d5d6.jpg" /></a>
          </div>
        </div>
        <div class="header_main_right">
          <div class="header_main_right_user">
            <div class="user_info">
              <div class="user_info_tou">
                <a href="/static/#"><img class="" src="/static/index/img/touxiang.png"></a>
              </div>
              <div class="user_info_show">
                <p class="">Hi, welcome to!</p>
                <p>
                  <a href="/static/#" class="">Log in</a>
                  <a href="/static/#" class="">register</a>
                </p>
              </div>
            </div>
            <div class="user_info_hide">
              <a href="/static/#">Newbie benefits</a>
              <a href="/static/#">PLUSmember</a>
            </div>
          </div>
          <div class="header_main_right_new">
            <div class="header_new">
              <div class="header_new_t">
                <p class="active">
                  <a href="/static/#">Promotion</a>
                </p>
                <p>
                  <a href="/static/#">announcement</a>
                </p>
                <a href="/static/#">More</a>
              </div>
              <div class="header_new_connter">
                <div class="header_new_connter_1">
                  <ul>
                    <li>
                      <a href="/static/#">National paper towel war</a>
                    </li>
                    <li>
                      <a href="/static/#">Full of furniture and building materials999reduce300Yuan</a>
                    </li>
                    <li>
                      <a href="/static/#">Black technology refrigerator, get an instant discount of 1,000 yuan when placing an order</a>
                    </li>
                    <li>
                      <a href="/static/#">Rob102reduce101God ticket!</a>
                    </li>
                  </ul>
                </div>
                <div class="header_new_connter_1" style="display: none;">
                  <ul>
                    <li>
                      <a href="/static/#">Regarding the recall of Bridgestone (Tianjin) Tire Co., Ltd.2Announcement of specifications for passenger car tires</a>
                    </li>
                    <li>
                      <a href="/static/#">Logistics launches unified outbound phone number for delivery personnel"95056”</a>
                    </li>
                    <li>
                      <a href="/static/#">Tianfu Bulk Operation Center Opening Announcement</a>
                    </li>
                    <li>
                      <a href="/static/#">Bulk logistics“Delivery and installation in one”The service has been fully upgraded!</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="header_main_right_ser">
            <div class="ser_box">
              <ul>
                <li class="ser_box_item">
                  <a href="/static/#">
  											<img src="/static/index/img/huafei.png" />
  											<span>phone bill</span>
  										</a>
                </li>
                <li class="ser_box_item">
                  <a href="/static/#">
  											<img src="/static/index/img/jipiao.png" />
  											<span>air tickets</span>
  										</a>
                </li>
                <li class="ser_box_item">
                  <a href="/static/#">
  											<img src="/static/index/img/jiudian.png" />
  											<span>hotel</span>
  										</a>
                </li>
                <li class="ser_box_item">
                  <a href="/static/#">
  											<img src="/static/index/img/youxi.png" />
  											<span>game</span>
  										</a>
                </li>
                <li class="ser_box_item1">
                  <a href="/static/#">
  											<img src="/static/index/img/qiyegou.png" />
  											<span>Corporate purchase</span>
  										</a>
                </li>
                <li class="ser_box_item1">
                  <a href="/static/#">
  											<img src="/static/index/img/jiayouka.png" />
  											<span>gas card</span>
  										</a>
                </li>
                <li class="ser_box_item1">
                  <a href="/static/#">
  											<img src="/static/index/img/dianyingpiao.png" />
  											<span>movie tickets</span>
  										</a>
                </li>
                <li class="ser_box_item1">
                  <a href="/static/#">
  											<img src="/static/index/img/huochepiao.png" style="height:20px;" />
  											<span>train ticket</span>
  										</a>
                </li>
                <li class="ser_box_item1">
                  <a href="/static/#">
  											<img src="/static/index/img/zhongchou.png" />
  											<span>Crowdfunding</span>
  										</a>
                </li>
                <li class="ser_box_item1">
                  <a href="/static/#">
  											<img src="/static/index/img/licai.png" style="height:22px;" />
  											<span>financial management</span>
  										</a>
                </li>
                <li class="ser_box_item1">
                  <a href="/static/#">
  											<img src="/static/index/img/lipinka.png" style="height:14px;" />
  											<span>gift card</span>
  										</a>
                </li>
                <li class="ser_box_item1">
                  <a href="/static/#">
  											<img src="/static/index/img/baitiao.png" style="height:20px;" />
  											<span>white strips</span>
  										</a>
                </li>
              </ul>
              <div class="ser_box_aaa">
                <div class="ser_box_aaa_one">
                  <div class="ser_box_aaa_nav">
                    <ol>
                      <li class="active">
                        <a href="/static/#">phone bill</a>
                      </li>
                      <li>
                        <a href="/static/#">air tickets</a>
                      </li>
                      <li>
                        <a href="/static/#">hotel</a>
                      </li>
                      <li>
                        <a href="/static/#">game</a>
                      </li>
                    </ol>
                    <div class="ser_ol">
                      <div class="ser_ol_li">
                        <ul>
                          <div class="guanbi">X</div>
                          <a class="active">Phone bill recharge</a>
                          <a>Data recharge</a>
                          <a>Package changes</a>
                          <div class="ser_ol_div">
                            <p>Number<input type="text" /></p>
                            <p style="margin: 10px 0;">face value
                              <select name="">
  																	<option value="">100Yuan</option>
  																	<option value="">20Yuan</option>
  																	<option value="">50Yuan</option>
  																	<option value="">10Yuan</option>
  																	<option value="">2Yuan</option>
  																</select>
                              <span>￥98.0-￥100.0</span></p>
                          </div>
                          <button>Quick recharge</button>
                          <p class="p">Rob99reduce50yuan phone bill</p>
                        </ul>

                      </div>
                      <div class="ser_ol_li">
                        <ul>
                          <div class="guanbi">X</div>
                          <a class="active">International air tickets</a>
                          <a>internationality/Hong Kong and Macao</a>
                          <a>Special offer</a>
                          <div class="ser_ol_div1">
                            <p>
                              <input type="radio" name="a" style="vertical-align:middle;" />One Way
                              <input type="radio" name="a" style="vertical-align:middle;" />round trip
                            </p>
                            <input type="text" placeholder="Departure city" />
                            <input type="text" placeholder="Arrive in city" />
                            <input type="text" placeholder="date" />
                          </div>
                          <button>Air ticket inquiry</button>
                          <span class="p">Popular air tickets of the season</span>
                        </ul>
                      </div>
                      <div class="ser_ol_li">
                        <ul>
                          <div class="guanbi">X</div>
                          <a class="active" style="width: 50%;">Domestic Hong Kong, Macao and Taiwan</a>
                          <a style="width: 50%;">promotions</a>
                          <div class="ser_ol_div1">
                            <input type="text" placeholder="Departure city" style="margin-top: 10px;" />
                            <input type="text" placeholder="Arrive in city" />
                            <input type="text" placeholder="date" />
                            <input type="text" placeholder="hotel business district landmark" />
                          </div>
                          <button>Hotel inquiry</button>
                          <span class="p">Book hotel to</span>
                        </ul>
                      </div>
                      <div class="ser_ol_li">
                        <ul>
                          <div class="guanbi">X</div>
                          <a class="active">click card</a>
                          <a>QQ</a>
                          <a>Web game</a>
                          <div class="ser_ol_div1">
                            <input type="text" placeholder="game" style="margin-top: 15px;" />
                            <br />face value
                            <select name="" style="margin: 8px 0;">
  																<option value="">face value</option>
  																<option value="">face value</option>
  																<option value="">face value</option>
  															</select><span style="color: #C81623;">￥0.00</span>
                            <p>
                              <input type="radio" name="a" style="width: 15px;vertical-align:middle;" />Direct charging
                              <input type="radio" name="a" style="width: 15px;vertical-align:middle;" />Cardamom
                            </p>
                          </div>
                          <button>Quick recharge</button>
                          <span class="p">To eat chicken, you have to be one step ahead</span>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header_banner1">
        <a href="/static/#" class="a">
  						<img src="/static/index/img/5a1e5ce2N034ce344.png" class="aa" />
  					</a>
        <div class="header_banner1_div">
          <p>X</p>
        </div>
      </div>
    </div>
  </header>

  <div class="section_second">
    <!-- first floor -->
    <div class="section_second_header">
      <p class="section_second_header_img"></p>
      <div class="section_second_header_left">
        <p></p>
        <span class="">flash sale</span>
        <span>There are always low prices you can’t think of</span>
        <span>
        </span>
      </div>
      <div class="section_second_header_right">
        <p>Current session</p>
        <span class="section_second_header_right_hours">00</span>
        <span class="section_second_header_right_mao">:</span>
        <span class="section_second_header_right_minutes">00</span>
        <span class="section_second_header_right_mao">:</span>
        <span class="section_second_header_right_second">00</span>
        <p>end after</p>
      </div>
    </div>
    <div class="section_second_list">
      <div class="swiper-container swiper_section_second_list_left">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <!-- Dynamic assembly of flash sale product information -->
            <ul id="seckillSkuContent"></ul>
          </div>
          <div class="swiper-slide">
            <ul>
              <li>
                <img src="/static/index/img/section_second_list_img6.jpg" alt="">
                <p>Apple iMac 21.5inch all-in-one computer (2017New quad coreCore i5 processor/8GBMemory/1TB/RP555graphics card/4Kscreen MNDY2CH/A) Apple iMac 21.5inch all-in-one computer (2017New quad coreCore i5 deal with</p>
                <span>¥9588.00</span><s>¥10288.00</s>
              </li>
              <li>
                <img src="/static/index/img/section_second_list_img7.jpg" alt="">
                <p>Zhongbai(Jumper)EZpad 4S Pro 10.6inch 2-in-1 tablet (X5 z</p>
                <span>¥848.00</span><s>¥899.00</s>
              </li>
              <li>
                <img src="/static/index/img/section_second_list_img8.jpg" alt="">
                <p>Philips (PHILIPS) Electric toothbrushHX6761/03Bright white adult rechargeable sonic toothbrush pink Philips (PHILIPS) Electric toothbrushHX6761/03Bright white adult rechargeable sonic
                </p>
                <span>¥379.00</span><s>¥698.00</s>
              </li>
              <li>
                <img src="/static/index/img/section_second_list_img9.jpg" alt="">
                <p>Beautiful(Midea) 258l Inverter smart three-door refrigerator, first-class energy efficiency, air-cooled, frost-free, middle door</p>
                <span>¥3088.00</span><s>¥3299.00</s>
              </li>
              <li>
                <img src="/static/index/img/section_second_list_img10.jpg" alt="">
                <p>[The second item is reduced50Yuan] Meng Yang Inner Mongolia Lamb Ribs 2.4catty</p>
                <span>¥99.90</span><s>¥199.00</s>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-button-prev second_list">
          <p></p>
        </div>
        <div class="swiper-button-next second_list">
          <p></p>
        </div>
      </div>
      <ul class="section_second_list_right">
        <li>
          <img src="/static/index/img/section_second_list_right_img.jpg" alt="">
        </li>
        <li>
          <img src="/static/index/img/section_second_list_right_img.png" alt="">
        </li>
        <div class="section_second_list_right_button">
          <p class="section_second_list_right_button_active"></p>
          <p></p>
        </div>
      </ul>
    </div>


  </div>



</body>
<script type="text/javascript">
  function search() {
      var keyword=$("#searchText").val()
      window.location.href="http://search.gulimall.com/search.html?keyword="+keyword;
  }

  $.get("http://seckill.gulimall.com/getCurrentSeckillSkus", function (res) {
    if (res.data.length > 0) {
      res.data.forEach(function (item) {
        $("<li onclick='toDetail(" + item.skuId + ")'></li>").append($("<img style='width: 130px; height: 130px' src='" + item.skuInfoVo.skuDefaultImg + "' />"))
                .append($("<p>"+item.skuInfoVo.skuTitle+"</p>"))
                .append($("<span>" + item.seckillPrice + "</span>"))
                .append($("<s>" + item.skuInfoVo.price + "</s>"))
                .appendTo("#seckillSkuContent");
      })
    }
  })

  function toDetail(skuId) {
    location.href = "http://item.gulimall.com/" + skuId + ".html";
  }

</script>
<script type="text/javascript" src="/static/index/js/text.js"></script>
<script type="text/javascript" src="/static/index/js/header.js"></script>
<script type="text/javascript" src="/static/index/js/secend.js"></script>
<script type="text/javascript" src="/static/index/js/zz.js"></script>
<script type="text/javascript" src="/static/index/js/index.js"></script>
<script type="text/javascript" src="/static/index/js/left,top.js"></script>
<script type="text/javascript" src="/static/index/js/catalogLoader.js"></script>
</html>
