<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Product details page</title>
	<link rel="stylesheet" type="text/css" href="/static/item/scss/shop.css"/>
	<link rel="stylesheet" type="text/css" href="/static/item/scss/jd.css"/>
	<link rel="stylesheet" href="/static/item/scss/header.css"/>
	<link rel="stylesheet" type="text/css" href="/static/item/bootstrap/css/bootstrap.css"/>
</head>
<body>
<div id="max">
	<header>
		<!--Brand official website-->
		<div class="min">
			<ul class="header_ul_left">
				<li class="glyphicon glyphicon-home"><a href="http://gulimall.com/" class="aa">JD.com homepage</a></li>
				<li class="glyphicon glyphicon-map-marker"><a href="/static/item/javascript:;">Beijing</a>
					<ol id="beijing">
						<li style="background: red;"><a href="/static/item/javascript:;" style="color: white;">Beijing</a>
						</li>
						<li><a href="/static/item/javascript:;">Shanghai</a></li>
						<li><a href="/static/item/javascript:;">Tianjin</a></li>
						<li><a href="/static/item/javascript:;">Chongqing</a></li>
						<li><a href="/static/item/javascript:;">Hebei</a></li>
						<li><a href="/static/item/javascript:;">Shanxi</a></li>
						<li><a href="/static/item/javascript:;">Henan</a></li>
						<li><a href="/static/item/javascript:;">Liaoning</a></li>
						<li><a href="/static/item/javascript:;">Jilin</a></li>
						<li><a href="/static/item/javascript:;">Heilongjiang</a></li>
						<li><a href="/static/item/javascript:;">Inner Mongolia</a></li>
						<li><a href="/static/item/javascript:;">Jiangsu</a></li>
						<li><a href="/static/item/javascript:;">Shandong</a></li>
						<li><a href="/static/item/javascript:;">Anhui</a></li>
						<li><a href="/static/item/javascript:;">Zhejiang</a></li>
						<li><a href="/static/item/javascript:;">Fujian</a></li>
						<li><a href="/static/item/javascript:;">hubei</a></li>
						<li><a href="/static/item/javascript:;">Hunan</a></li>
						<li><a href="/static/item/javascript:;">Guangdong</a></li>
						<li><a href="/static/item/javascript:;">Guangxi</a></li>
						<li><a href="/static/item/javascript:;">Jiangxi</a></li>
						<li><a href="/static/item/javascript:;">Sichuan</a></li>
						<li><a href="/static/item/javascript:;">Hainan</a></li>
						<li><a href="/static/item/javascript:;">Guizhou</a></li>
						<li><a href="/static/item/javascript:;">Yunnan</a></li>
						<li><a href="/static/item/javascript:;">Tibet</a></li>
						<li><a href="/static/item/javascript:;">Shaanxi</a></li>
						<li><a href="/static/item/javascript:;">Gansu</a></li>
						<li><a href="/static/item/javascript:;">Qinghai</a></li>
						<li><a href="/static/item/javascript:;">Ningxia</a></li>
						<li><a href="/static/item/javascript:;">Xinjiang</a></li>
						<li><a href="/static/item/javascript:;">Hong Kong and Macao</a></li>
						<li><a href="/static/item/javascript:;">Taiwan</a></li>
						<li><a href="/static/item/javascript:;">Diaoyu Islands</a></li>
						<li><a href="/static/item/javascript:;">overseas</a></li>
					</ol>
				</li>
			</ul>
			`
			<ul class="header_ul_right">
				<li style="border: 0;">
					<a th:if="${session.loginUser == null}" href="http://auth.gulimall.com/login.html"
					   class="aa">Hello, please log in</a>
					<a th:if="${session.loginUser != null}">welcome, [[${session.loginUser.nickname}]]</a>
				</li>
				<li>
					<a th:if="${session.loginUser == null}" href="http://auth.gulimall.com/reg.html"
					   style="color: red;">Free registration</a>
				</li>
				<li><a href="http://member.gulimall.com/memberOrder.html" class="aa">my order</a> |</li>
				<li class="jingdong"><a href="/static/item/javascript:;">My JD.com</a><span
						class="glyphicon glyphicon-menu-down">|</span>
					<ol class="jingdong_ol">
						<li><a href="/static/item/javascript:;">Pending orders</a></li>
						<li><a href="/static/item/javascript:;">information</a></li>
						<li><a href="/static/item/javascript:;">Return for repair or exchange</a></li>
						<li><a href="/static/item/javascript:;">my answer</a></li>
						<li><a href="/static/item/javascript:;">Reduced price items</a></li>
						<li><a href="/static/item/javascript:;">my concern</a></li>
						<li style="width: 100%;height: 1px;background: lavender;margin-top: 15px;"></li>
						<li style="margin-top: 0;"><a href="/static/item/javascript:;">My Jingdou</a></li>
						<li style="margin-top: 0;"><a href="/static/item/javascript:;">my coupons</a></li>
						<li style="margin-bottom: 10px;"><a href="/static/item/javascript:;">My white strips</a></li>

					</ol>
				</li>

				<li><a href="/static/item/javascript:;" class="aa">JD.com member</a> |</li>
				<li><a href="/static/item/javascript:;" class="aa">Corporate Procurement</a> |</li>
				<li class="fuwu"><a href="/static/item/javascript:;">customer service</a><span
						class="glyphicon glyphicon-menu-down"></span> |
					<ol class="fuwu_ol">
						<h6>client</h6>
						<li><a href="/static/item/javascript:;">Help Center</a></li>
						<li><a href="/static/item/javascript:;">After-sales service</a></li>
						<li><a href="/static/item/javascript:;">Online customer service</a></li>
						<li><a href="/static/item/javascript:;">Suggestions</a></li>
						<li><a href="/static/item/javascript:;">Telephone customer service</a></li>
						<li><a href="/static/item/javascript:;">Customer service email</a></li>
						<li style="margin-bottom: -5px;"><a href="/static/item/javascript:;">financial advice</a></li>
						<li style="margin-bottom: -5px;"><a href="/static/item/javascript:;">Global customer service</a></li>
						<h6 style="border-top: 1px dashed darkgray;height: 30px;line-height: 30px;">Merchant</h6>
						<li style="margin-top: -5px;"><a href="/static/item/javascript:;">Cooperation and investment</a></li>
						<li style="margin-top: -5px;"><a href="/static/item/javascript:;">Learning Center</a></li>
						<li><a href="/static/item/javascript:;">Merchant background</a></li>
						<li><a href="/static/item/javascript:;">Jingmai workbench</a></li>
						<li><a href="/static/item/javascript:;">Merchant help</a></li>
						<li><a href="/static/item/javascript:;">Rules platform</a></li>
					</ol>
				</li>
				<li class="daohang"><a href="/static/item/javascript:;">Site navigation</a><span
						class="glyphicon glyphicon-menu-down"></span> |
					<ol class="daohang_ol">
						<li style="width: 34%;">
							<h5>Featured themes</h5>
							<p>
								<a href="/static/item/javascript:;">Jingdong trial</a>
								<a href="/static/item/javascript:;">JD Finance</a>
								<a href="/static/item/javascript:;">Global sales</a>
								<a href="/static/item/javascript:;">International station</a>
							</p>
							<p>
								<a href="/static/item/javascript:;">JD.com member</a>
								<a href="/static/item/javascript:;">JD.com pre-sale</a>
								<a href="/static/item/javascript:;">what to buy</a>
								<a href="/static/item/javascript:;">Russian site</a>
							</p>
							<p>
								<a href="/static/item/javascript:;">Installation master</a>
								<a href="/static/item/javascript:;">0meta-review</a>
								<a href="/static/item/javascript:;">Send regularly</a>
								<a href="/static/item/javascript:;">For sale in Hong Kong and Macau</a>
							</p>
							<p>
								<a href="/static/item/javascript:;">Coupon</a>
								<a href="/static/item/javascript:;">flash sale</a>
								<a href="/static/item/javascript:;">flash sale</a>
								<a href="/static/item/javascript:;">Indonesia Station</a>
							</p>
							<p>
								<a href="/static/item/javascript:;">JD Financial Technology</a>
								<a href="/static/item/javascript:;">InRecommended goods</a>
								<a href="/static/item/javascript:;">companionship plan</a>
								<a href="/static/item/javascript:;">Going overseas to attract investment</a>
							</p>
						</li>
						<li>
							<h5>Industry channel</h5>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">cell phone</a>
								<a href="/static/item/javascript:;" class="aa_2">Smart digital</a>
								<a href="/static/item/javascript:;" class="aa_2">Play3C</a>
							</p>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">computer office</a>
								<a href="/static/item/javascript:;" class="aa_2">household appliances</a>
								<a href="/static/item/javascript:;" class="aa_2">JD Smart</a>
							</p>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">clothing city</a>
								<a href="/static/item/javascript:;" class="aa_2">Beauty salon</a>
								<a href="/static/item/javascript:;" class="aa_2">Home Improvement City</a>
							</p>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">mother and baby</a>
								<a href="/static/item/javascript:;" class="aa_2">food</a>
								<a href="/static/item/javascript:;" class="aa_2">Sports and outdoor</a>
							</p>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">Agricultural Supplies Channel</a>
								<a href="/static/item/javascript:;" class="aa_2">Complete vehicle</a>
								<a href="/static/item/javascript:;" class="aa_2">books</a>
							</p>
						</li>
						<li>
							<h5>Life services</h5>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">JD Crowdfunding</a>
								<a href="/static/item/javascript:;" class="aa_2">white strips</a>
								<a href="/static/item/javascript:;" class="aa_2">JD FinanceAPP</a>
							</p>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">Jingdong Small Treasury</a>
								<a href="/static/item/javascript:;" class="aa_2">financial management</a>
								<a href="/static/item/javascript:;" class="aa_2">Smart home appliances</a>
							</p>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">phone bill</a>
								<a href="/static/item/javascript:;" class="aa_2">Water, electricity and coal</a>
								<a href="/static/item/javascript:;" class="aa_2">Lottery</a>
							</p>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">travel</a>
								<a href="/static/item/javascript:;" class="aa_2">Air tickets and hotels</a>
								<a href="/static/item/javascript:;" class="aa_2">movie tickets</a>
							</p>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">JD Daojia</a>
								<a href="/static/item/javascript:;" class="aa_2">Jingdong public test</a>
								<a href="/static/item/javascript:;" class="aa_2">game</a>
							</p>
						</li>
						<li style="border: 0;">
							<h5>More picks</h5>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">Cooperation and investment</a>
								<a href="/static/item/javascript:;" class="aa_2">JD Communications</a>
								<a href="/static/item/javascript:;" class="aa_2">JingdongECard</a>
							</p>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">Corporate Procurement</a>
								<a href="/static/item/javascript:;" class="aa_2">service market</a>
								<a href="/static/item/javascript:;" class="aa_2">Office Life Center</a>
							</p>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">Rural recruitment</a>
								<a href="/static/item/javascript:;" class="aa_2">Campus franchise</a>
								<a href="/static/item/javascript:;" class="aa_2">Jingyoubang</a>
							</p>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">Jingdong Community</a>
								<a href="/static/item/javascript:;" class="aa_2">smart community</a>
								<a href="/static/item/javascript:;" class="aa_2">gaming community</a>
							</p>
							<p>
								<a href="/static/item/javascript:;" class="aa_2">Intellectual property rights protection</a>
								<a href="/static/item/javascript:;" class="aa_2"></a>
								<a href="/static/item/javascript:;" class="aa_2"></a>
							</p>
						</li>
					</ol>
				</li>
				<li class="sjjd" style="border: 0;"><a href="/static/item/javascript:;" class="aa">JD Mobile</a>
					<div class="er">
						<div class="er_1">
							<div class="er_1_1">
								<h6><a href="/static/item/#">JD Mobile</a></h6>
								<p>Exclusive gift package for newcomers</p>

							</div>
						</div>
						<div class="er_1">
							<div class="er_1_1">
								<h6><a href="/static/item/#">Follow JD.com on WeChat</a></h6>
								<p>Scan and follow on WeChat to get the highest number of new fans180Yuan surprise gift pack</p>
							</div>
						</div>
						<!--My financial management-->
						<div class="er_1" style="border: 0;">
							<img src="/static/item/img/5874a555Ne8192324.jpg"/>
							<div class="er_1_1">
								<h6><a href="/static/item/#">JD Financial Client</a></h6>
								<p>Exclusive gift package for newcomers</p>
								<div><a href="/static/item/#"><img src="/static/item/img/11.png"/></a><a
										href="/static/item/#"><img src="/static/item/img/22.png"/></a></div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</header>
	<nav>
		<div class="nav_min">
			<div class="nav_top">
				<div class="nav_top_one"><a href="http://gulimall.com"><img src="/static/item/img/111.png"/></a></div>
				<div class="nav_top_two"><input type="text"/>
					<button>search</button>
				</div>
				<div class="nav_top_three"><a href="http://cart.gulimall.com/cart.html">My shopping cart</a><span
						class="glyphicon glyphicon-shopping-cart"></span>
					<div class="nav_top_three_1">
						<img src="/static/item/img/44.png"/>There are no items in the shopping cart yet, hurry up and buy now!
					</div>
				</div>
			</div>
			<div class="nav_down">
				<ul class="nav_down_ul">
					<li class="nav_down_ul_1" style="width: 24%;float: left;"><a
							href="/static/item/javascript:;">All product categories</a>

					</li>
					<li class="ul_li"><a href="/static/item/javascript:;">clothing city</a></li>
					<li class="ul_li"><a href="/static/item/javascript:;">Beauty salon</a></li>
					<li class="ul_li"><a href="/static/item/javascript:;">supermarket</a></li>
					<li class="ul_li" style="border-right: 1px solid lavender;"><a
							href="/static/item/javascript:;">fresh food</a></li>
					<li class="ul_li"><a href="/static/item/javascript:;">global shopping</a></li>
					<li class="ul_li"><a href="/static/item/javascript:;">flash sale</a></li>
					<li class="ul_li" style="border-right: 1px solid lavender;"><a
							href="/static/item/javascript:;">auction</a></li>
					<li class="ul_li"><a href="/static/item/javascript:;">finance</a></li>
				</ul>
			</div>
		</div>
	</nav>

</div>


<div class="crumb-wrap">
	<div class="w">
		<div class="crumb">
			<div class="crumb-item">
				<a href="/static/item/">cell phone</a>
			</div>
			<div class="crumb-item sep">></div>
			<div class="crumb-item">
				<a href="/static/item/">Cell phone communication</a>
			</div>
			<div class="crumb-item sep">></div>
			<div class="crumb-item">
				<a href="/static/item/">cell phone</a>
			</div>
			<div class="crumb-item sep">></div>
			<div class="crumb-item">
				<div class="crumb-item-one">
					Huawei (HUAWEI)
					<img src="/static/item/img/4a79b87a68623d4e8a73aff3e25fa99b.png" alt="" class="img"/>
					<div class="crumb-item-two ">
						<div class="crumb-item-con clear">
							<ul class="con-ul">
								<li>
									<img src="/static/item/img/5825a5a6Nde8ecb75.jpg" alt=""/>
								</li>
								<li>
									<p>
										glory8Youth Edition Standard for all Netcom 3GB+32GB Fantasy sea blue
									</p>
									<p>
										￥1099.00
									</p>
								</li>
							</ul>
							<ul class="con-ul">
								<li>
									<img src="/static/item/img/5919637aN271a1301.jpg" alt=""/>
								</li>
								<li>
									<p>
										glory8Youth Edition Standard for all Netcom 3GB+32GB Fantasy sea blue
									</p>
									<p>
										￥1099.00
									</p>
								</li>
							</ul>
							<ul class="con-ul">
								<li>
									<img src="/static/item/img/599a806bN9d829c1c.jpg" alt=""/>
								</li>
								<li>
									<p>
										glory8Youth Edition Standard for all Netcom 3GB+32GB Fantasy sea blue
									</p>
									<p>
										￥1099.00
									</p>
								</li>
							</ul>
						</div>
						<div class="crumb-item-cons clear">
							<ul>
								<li>Huawei(huawei)</li>
								<li>Millet(xiaomi)</li>
								<li>APPle</li>
								<li>Meizu(meizu)</li>
								<li>hammer</li>

							</ul>
							<ul>
								<li>Samsung</li>
								<li>vivo</li>
								<li>Philips</li>
								<li>360</li>
								<li>More>></li>

							</ul>
						</div>
					</div>

				</div>

			</div>
			<div class="crumb-item sep">></div>
			<div class="crumb-item">
				HuaweiMate 10
			</div>
		</div>

		<div class="contact">
			<ul class="contact-ul">
				<li>
					<a href="/static/item/#">
						Huawei JD self-operated official flagship store
					</a>

					<span class="contact-sp">
								<span class="contact-sp1">
								JD
							</span>
							<span class="contact-sp2">
								Self-operated
							    </span>
							</span>
				</li>
				<li>
					<a href="/static/item/#">
						<img src="/static/item/img/f5831b9848b32440b381bcd30a3d96c7.png" alt=""/> Contact supplier
					</a>
				</li>
				<li>
					<a href="/static/item/#">
						<img src="/static/item/img/81a6326edc82d343a5a8860a6970f93b.png" alt=""/> JIMI
					</a>
				</li>
				<li>
					<a href="/static/item/#">
						<img src="/static/item/img/a400e3d61d5645459f769b00d9f431e7.png" alt=""/> Follow the store
					</a>
				</li>
			</ul>
			<div class="contact-one">
				<ul>
					<li>customer service</li>
					<li><img src="/static/item/img/f5831b9848b32440b381bcd30a3d96c7.png" alt=""/>message</li>
					<li><img src="/static/item/img/81a6326edc82d343a5a8860a6970f93b.png" alt=""/>JIMIintelligent</li>
					<li>
						<img src="/static/item/img/1466134037230.jpg" class="contact-img"/>
						<p>Order via mobile phone</p>
					</li>

				</ul>
				<div class="contact-two">
					<span><img src="/static/item/img/a400e3d61d5645459f769b00d9f431e7.png" alt=""/>Go into the store and have a look</span>
					<span><img src="/static/item/img/a400e3d61d5645459f769b00d9f431e7.png" alt=""/>Follow the store</span>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="Shop">
	<div class="box">
		<div class="box-one ">
			<div class="boxx">

				<div class="imgbox">
					<div class="probox">
						<img class="img1" alt="" th:src="${item.info.skuDefaultImg}">
						<div class="hoverbox"></div>
					</div>
					<div class="showbox">
						<img class="img1" alt="" th:src="${item.info.skuDefaultImg}">
					</div>
				</div>

				<div class="box-lh">

					<div class="box-lh-one">
						<ul>
							<li th:each="img : ${item.images}"><img th:src="${img.imgUrl}"/></li>
						</ul>
					</div>
					<div id="left">
						<
					</div>
					<div id="right">
						>
					</div>

				</div>

				<div class="boxx-one">
					<ul>
						<li>
									<span>
										<img src="/static/item/img/b769782fe4ecca40913ad375a71cb92d.png" alt=""/>focus on
									</span>
							<span>
										<img src="/static/item/img/9224fcea62bfff479a6712ba3a6b47cc.png" alt=""/>
										contrast
									</span>
						</li>
						<li>

						</li>
					</ul>
				</div>

			</div>
			<div class="box-two">
				<div class="box-name" th:text="${item.info.skuTitle}">
					Huawei HUAWEI Mate 10 6GB+128GB Bright black China Mobile, China Unicom and Telecom4GMobile Phone Dual SIM Dual Standby
				</div>
				<div class="box-hide" th:text="${item.info.skuSubtitle}">Expected reservation users11moon30Will be shipped around the same day! Kirin970chip!AISmart photo taking!
					<a href="/static/item/"><u></u></a>
				</div>
				<div class="box-yuyue">
					<div class="yuyue-one">
						<img src="/static/item/img/7270ffc3baecdd448958f9f5e69cf60f.png" alt=""/> Make an appointment to buy
					</div>
					<div class="yuyue-two">
						<ul>
							<li>
								<img src="/static/item/img/f64963b63d6e5849977ddd6afddc1db5.png"/>
								<span>190103</span> Make an appointment
							</li>
							<li>
								<img src="/static/item/img/36860afb69afa241beeb33ae86678093.png"/> Appointment remaining
								<span id="timer">

									</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="box-summary clear">
					<ul>
						<li>Jingdong price</li>
						<li>
							<span>￥</span>
							<span th:text="${#numbers.formatDecimal(item.info.price,3,2)}">4499.00</span>
						</li>
						<li style="color: red" th:if="${item.seckillSkuVo != null}">

                            <span th:if="${#dates.createNow().getTime() < item.seckillSkuVo.startTime}">
                                The product will be in[[${#dates.format(new java.util.Date(item.seckillSkuVo.startTime),"yyyy-MM-dd HH:mm:ss")}]]Make a flash sale
                            </span>

							<span th:if="${#dates.createNow().getTime() >= item.seckillSkuVo.startTime && #dates.createNow().getTime() <= item.seckillSkuVo.endTime}">
                                flash sale price  [[${#numbers.formatDecimal(item.seckillSkuVo.seckillPrice,1,2)}]]
                            </span>

						</li>
						<li>
							<a href="/static/item/">
								Reservation instructions
							</a>
						</li>
					</ul>
				</div>
				<div class="box-wrap clear">
					<div class="box-wrap-one clear">
						<ul>
							<li>value-added services</li>
							<li><img src="/static/item/img/90a6fa41d0d46b4fb0ff6907ca17c478.png"/></li>
							<li><img src="/static/item/img/2e19336b961586468ef36dc9f7199d4f.png"/></li>
							<li><img src="/static/item/img/1f80c3d6fabfd3418e54b005312c00b5.png"/></li>
						</ul>
					</div>
				</div>

				<div class="box-stock">
					<ul class="box-ul">
						<li>Ship to</li>
						<li class="box-stock-li">
							<div class="box-stock-one">
								Guanzhuang, Chaoyang District, Beijing
								<img src="/static/item/img/4a79b87a68623d4e8a73aff3e25fa99b.png" alt="" class="img"/>
							</div>
							<div class="box-stock-two">
								<dl>
									<dt>
										<a>Select new address</a>
										<img src="/static/item/img/4a79b87a68623d4e8a73aff3e25fa99b.png" alt=""
											 class="box-stock-two-img"/>
									</dt>
									<dd>
										<div class="box-stock-dd">
											<div class="box-stock-top">
												<div class="box-stock-div">Beijing</div>
												<div class="box-stock-div">Chaoyang District</div>
												<div class="box-stock-div">Guanzhuang</div>
											</div>
											<div class="box-stock-fot">
												<div class="box-stock-con" style="display: block;">
													<ul>
														<li>Beijing</li>
														<li>Shanghai</li>
														<li>Tianjin</li>
														<li>Chongqing</li>
													</ul>
												</div>
												<div class="box-stock-con">
													<ul>
														<li>Chaoyang District</li>
														<li>Haidian District</li>
														<li>Dongcheng District</li>
														<li>Xicheng District</li>
													</ul>
												</div>
												<div class="box-stock-con">
													<ul>
														<li>4Ring to5within the ring</li>
														<li>Guanzhuang</li>
														<li>Beiyuan</li>
													</ul>
												</div>

											</div>
										</div>
									</dd>
								</dl>

							</div>

						</li>
						<li>
							<span th:text="${item.hasStock?'In stock':'Out of stock'}">Out of stock</span>, this product is temporarily sold out
						</li>
					</ul>
				</div>
				<div class="box-supply">
					<ul class="box-ul">
						<li></li>
						<li>
							Depend on<span>Jingdong</span> Delivery and provide after-sales service
						</li>
					</ul>
				</div>
				<div class="box-attr-3">
					<div class="box-attr clear" th:each="attr : ${item.saleAttr}">
						<dl>
							<dt>choose[[${attr.attrName}]]</dt>
							<dd th:each="val : ${attr.attrValues}">
								<a th:attr=" class=${#lists.contains(#strings.listSplit(val.skuIds,','),item.info.skuId.toString())
                                   ? 'sku_attr_value checked': 'sku_attr_value'}, skus=${val.skuIds} "
								>
									[[${val.attrValue}]]
									<!--											<img src="/static/item/img/59ddfcb1Nc3edb8f1.jpg" /> -->
								</a>
							</dd>
						</dl>
					</div>
					<!--							<div class="box-attr-2 clear">-->
					<!--								<dl>-->
					<!--									<dt>Select version</dt>-->
					<!--									<dd>-->
					<!--										<a href="/static/item/#">Standard Edition</a>-->
					<!--									</dd>-->
					<!--									<dd>-->
					<!--										<a href="/static/item/#">Package version</a>-->
					<!--									</dd>-->
					<!--								</dl>-->
					<!--							</div>-->

					<!--							<div class="box-attr-2 clear">-->
					<!--								<dl>-->
					<!--									<dt>Select memory</dt>-->
					<!--									<dd>-->
					<!--										<a href="/static/item/#">64GB</a>-->
					<!--									</dd>-->
					<!--									<dd>-->
					<!--										<a href="/static/item/#">128GB</a>-->
					<!--									</dd>-->
					<!--								</dl>-->
					<!--							</div>-->
				</div>

				<div class="box-btns clear">
					<div class="box-btns-one">
						<input type="text" name="" id="productNum" value="1"/>
						<div class="box-btns-one1">

							<div>
								<button id="jia">
									+
								</button>
							</div>
							<div>
								<button id="jian">
									-
								</button>
							</div>

						</div>
					</div>

					<div class="box-btns-two"
						 th:if="${item.seckillSkuVo == null }">
						<a class="addToCart" href="http://cart.gulimall.com/addToCart" th:attr="skuId=${item.info.skuId}">
							add to the cart
						</a>
					</div>

					<div class="box-btns-two"
						 th:if="${item.seckillSkuVo != null && (#dates.createNow().getTime() >= item.seckillSkuVo.startTime && #dates.createNow().getTime() <= item.seckillSkuVo.endTime)}">
						<a class="seckill" href="#"
						   th:attr="skuId=${item.info.skuId},sessionId=${item.seckillSkuVo.promotionSessionId},code=${item.seckillSkuVo.randomCode}">
							Buy now
						</a>
					</div>

					<div class="box-btns-three">
						<img src="/static/item/img/e4ed3606843f664591ff1f68f7fda12d.png" alt=""/> share
					</div>
				</div>

				<div class="box-footer-zo">
					<div class="box-footer clear">
						<dl>
							<dt>local events</dt>
							<dd>
								<a href="/static/item/">
									·1Yuan500MBActivate to account30Yuan >>
								</a>
							</dd>
						</dl>
					</div>

					<div class="box-footer">
						<dl>
							<dt>Kind tips</dt>
							<dd>·This product cannot be used with East Voucher or Beijing Voucher</dd>
							<dd>·Please rush to buy as soon as possible after completing the reservation!</dd>
						</dl>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!--Want to make an appointment to buy the process-->
	<div class="qianggoulioucheng">
		<div class="lioucheng">
			<h3>Want to make an appointment to buy the process</h3>
		</div>
		<!--Steps to buy-->
		<ul class="qianggoubuzhao">
			<li>
				<img src="/static/item/img/shop_03.png"/>
				<dl class="buzhou">
					<dt>1.Waiting for appointment</dt>
					<dl>Appointment will start soon</dl>
				</dl>
			</li>
			<li>
				<img src="/static/item/img/shop_04.png"/>
				<dl class="buzhou">
					<dt>2.Reservation in progress</dt>
					<dl>2017-11-15 10:35 2017-11-15 23:59</dl>
				</dl>
			</li>
			<li>
				<img src="/static/item/img/shop_05.png"/>
				<dl class="buzhou">
					<dt>3.Waiting to snap up</dt>
					<dl>The rush sale is about to begin</dl>
				</dl>
			</li>
			<li>
				<img src="/static/item/img/shop_06.png"/>
				<dl class="buzhou">
					<dt>4.On sale</dt>
					<dl></dl>
				</dl>
			</li>
		</ul>
	</div>

	<div class="ShopXiangqing">
		<div class="allLeft">
			<!--Hot reservation-->
			<div class="huoreyuyue">
				<h3>Hot reservation</h3>
			</div>
			<div class="dangeshopxingqing">
				<ul class="shopdange">
					<li>
						<a href="/static/item/##"><img src="/static/item/img/5a0afeddNb34732af.jpg"/></a>
						<p>
							<a href="/static/item/##">OPPO R11s Plus Dual SIM dual standby full screen camera phone champagne color full network(6G RAM+64G ROM)Standard configuration</a>
						</p>
						<p><strong class="J-p-20015341974">￥3699.00</strong></p>
					</li>
					<li>
						<a href="/static/item/##"><img src="/static/item/img/5a12873eN41754123.jpg"/></a>
						<p>
							<a target="_blank" title="james (GEMRY) R19plusAll Netcom4G Smartphone Dual SIM Dual Standby 6+128GB Crocodile pattern elegant version (new product reservation)"
							   href="/static/item/item.jd.com/20348283521.html">james (GEMRY) R19plusAll Netcom4G Smartphone Dual SIM Dual Standby
								6+128GB Crocodile pattern elegant version (new product reservation)</a>
						</p>
						<p><strong class="J-p-20348283521">￥13999.00</strong></p>
					</li>
					<li>
						<a href="/static/item/##"><img src="/static/item/img/59ec0131Nf239df75.jpg"/></a>
						<p>
							<a target="_blank" title="fina(TOMEFON) German household cordless handheld upright rechargeable vacuum cleaner, silent high-suction vacuum cleanerTF-X60"
							   href="/static/item/item.jd.com/16683419775.html">fina(TOMEFON) German household cordless handheld upright rechargeable vacuum cleaner
								Silent high suction vacuum cleanerTF-X60</a>
						</p>
						<p><strong class="J-p-16683419775">￥1599.00</strong></p>
					</li>
					<li>
						<a href="/static/item/##"><img src="/static/item/img/59015444N27317512.jpg"/></a>
						<p>
							<a target="_blank" title="fina(TOMEFON) Sweeping robot German intelligent navigation planning fully automatic ultra-thin sweeping robot vacuum cleanerTF-D60 champagne gold"
							   href="/static/item/item.jd.com/12187770381.html">fina(TOMEFON)
								Sweeping robot German intelligent navigation planning fully automatic ultra-thin sweeping robot vacuum cleanerTF-D60 champagne gold</a>
						</p>
						<p><strong class="J-p-12187770381">￥2599.00</strong></p>
					</li>
				</ul>
			</div>
			<!--Looked and looked-->
			<div class="huoreyuyue">
				<h3>Looked and looked</h3>
			</div>
			<div class="dangeshopxingqing">
				<ul class="shopdange">
					<li>
						<a href="/static/item/##"><img src="/static/item/img/59e55e01N369f98f2.jpg"/></a>
						<p>
							<a target="_blank" title="Huawei (HUAWEI) Huawei Mate10 4GMobile Phone Dual SIM Dual Standby Bright Black Full Netcom(6GB RAM+128GB ROM)"
							   href="/static/item/item.jd.com/17931625443.html">Huawei (HUAWEI) Huawei Mate10 4GMobile Phone Dual SIM Dual Standby Bright Black
								All Netcom(6GB RAM+128GB ROM)</a>
						<p><strong class="J-p-17931625443">￥4766.00</strong></p>
					</li>
					<li>
						<a href="/static/item/##"><img src="/static/item/img/584fcc3eNdb0ab94c.jpg"/></a>
						<p>
							<a target="_blank" title="Huawei Mate 9 Pro 6GB+128GBEdition Amber Gold Mobile China Unicom Telecom4GMobile Phone Dual SIM Dual Standby"
							   href="/static/item/item.jd.com/3749093.html">Huawei Mate 9 Pro 6GB+128GBEdition Amber Gold Mobile China Unicom Telecom4Gmobile phone
								Dual SIM card dual standby</a>
						</p>
						<p><strong class="J-p-3749093">￥4899.00</strong></p>
					</li>
					<li>
						<!--shopjieshao-->
						<a href="/static/item/##"><img src="/static/item/img/59eb0df9Nd66d7585.jpg"/></a>
						<p>
							<a target="_blank" title="Huawei (HUAWEI) Huawei Mate10 Mobile Phone Bright Black Full Netcom(4+64G)Standard Edition"
							   href="/static/item/item.jd.com/12306211773.html">Huawei (HUAWEI) Huawei Mate10 Mobile phone glossy black
								All Netcom(4+64G)Standard Edition</a>
						</p>
						<p><strong class="J-p-12306211773">￥4088.00</strong></p>
					</li>
					<li>
						<a href="/static/item/##"><img src="/static/item/img/5a002ba3N126c2f73.jpg"/></a>
						<p>
							<a target="_blank" title="fina(TOMEFON) Sweeping robot German intelligent navigation planning fully automatic ultra-thin sweeping robot vacuum cleanerTF-D60 champagne gold"
							   href="/static/item/item.jd.com/12187770381.html">fina(TOMEFON)
								Sweeping robot German intelligent navigation planning fully automatic ultra-thin sweeping robot vacuum cleanerTF-D60 champagne gold</a>
						</p>
						<p><strong class="J-p-12187770381">￥2599.00</strong></p>
					</li>
				</ul>
				<img src="/static/item/img/5a084a1aNa1aa0a71.jpg"/>
			</div>
		</div>
		<!--Product introduction-->
		<div class="allquanbushop">
			<ul class="shopjieshao">
				<li class="jieshoa" style="background: #e4393c;">
					<a style="color: white;">Product introduction</a>
				</li>
				<li class="baozhuang">
					<a>Specifications and packaging</a>
				</li>
				<li class="baozhang">
					<a>After-sale guarantee</a>
				</li>
				<li class="pingjia">
					<a>Product evaluation(4Ten thousand+)</a>
				</li>
				<li class="shuoming">
					<a>Reservation instructions</a>
				</li>

			</ul>
			<button class="Lijiyuyuessss">
				Make an appointment now
			</button>
			<ul class="shopjieshaos posi" style="display: none;">
				<li class="jieshoa" style="background: #e4393c;">
					<a href="/static/item/#li1" style="color: white;">Product introduction</a>
				</li>
				<li class="baozhuang">
					<a href="/static/item/#li2">Specifications and packaging</a>
				</li>
				<li class="baozhang">
					<a href="/static/item/#li3">After-sale guarantee</a>
				</li>
				<li class="pingjia">
					<a href="/static/item/#li4">Product evaluation(4Ten thousand+)</a>
				</li>
				<li class="shuoming">
					<a href="/static/item/#li5">Reservation instructions</a>
				</li>
			</ul>

			<!--Product details-->
			<div class="huawei">
				<ul class="xuanxiangka">
					<li class="jieshoa actives" id="li1">
						<div class="shanpinsssss">
							<!--									<p>-->
							<!--										<a href="/static/item/#">brand:Huawei (HUAWEI)</a>-->
							<!--									</p>-->
							<!--									<table>-->
							<!--										<tr>-->
							<!--											<td>-->
							<!--												<a href="/static/item/##">Product name: HuaweiMate 10</a>-->
							<!--											</td>-->
							<!--											<td>-->
							<!--												<a href="/static/item/##">Product gross weight:0.58kg</a>-->
							<!--											</td>-->
							<!--											<td>-->
							<!--												<a href="/static/item/##">Item number:5544038</a>-->
							<!--											</td>-->
							<!--											<td>-->
							<!--												<a href="/static/item/##">Product Origin: Mainland China</a>-->
							<!--											</td>-->
							<!--										</tr>-->
							<!--										<tr>-->
							<!--											<td>-->
							<!--												<a href="/static/item/##">System: Android (Android)</a>-->
							<!--											</td>-->
							<!--											<td>-->
							<!--												<a href="/static/item/##">Front camera pixels:800Ten thousand-1599Ten thousand</a>-->
							<!--											</td>-->
							<!--											<td>-->
							<!--												<a href="/static/item/##">Rear camera pixels:2000Ten thousand and above,1200Ten thousand-1999Ten thousand</a>-->
							<!--											</td>-->
							<!--											<td>-->
							<!--												<a href="/static/item/##">Body memory:128GB</a>-->
							<!--											</td>-->
							<!--										</tr>-->
							<!--										<tr>-->
							<!--											<td colspan="4">-->
							<!--												<a href="/static/item/##">Full screen, dual SIM card dual standby, fingerprint recognition,Type-C,VoLTE,2Kscreen, camera artifact, supportNFC, business phone, security phone, resolution10</a>-->
							<!--											</td>-->
							<!--										</tr>-->
							<!--									</table>-->
							<img class="xiaoguo" th:src="${descp}"
								 th:each="descp : ${#strings.listSplit(item.desc.decript,',')}"/>
							<!--                            <div class="guiGebox guiGebox1">-->
							<!--                                <div class="guiGe">-->
							<!--                                    <h3 th:text="guige.groupName"></h3>-->
							<!--                                    <dl>-->
							<!--                                        <dt>brand</dt>-->
							<!--                                        <dd>Huawei(HUAWEI)</dd>-->
							<!--                                        <dt>model</dt>-->
							<!--                                        <dd class="Ptable-tips">-->
							<!--                                            <a href="/static/item/#"><i>?</i></a>-->
							<!--                                        </dd>-->
							<!--                                        <dd>ALP-AL00</dd>-->
							<!--                                        <dt>Network model</dt>-->
							<!--                                        <dd class="Ptable-tips">-->
							<!--                                            <a href="/static/item/#"><i>?</i></a>-->
							<!--                                        </dd>-->
							<!--                                        <dd>ALP-AL00</dd>-->
							<!--                                        <dt>Year of listing</dt>-->
							<!--                                        <dd>2017Year</dd>-->
							<!--                                        <dt>time to market</dt>-->
							<!--                                        <dd>10moon</dd>-->
							<!--                                    </dl>-->
							<!--                                </div>-->
							<!--                                <div class="package-list">-->
							<!--                                    <h3>packing list</h3>-->
							<!--                                    <p>Mobile phone (with built-in battery) X 1,5AHigh current HuaweiSuperChargechargerX 1,5A USBdata cable X 1, semi-in-ear wire-controlled headphones X 1,Quick GuideX 1, Three Guarantees Certificate X-->
							<!--                                        1, card removal pin X 1, protective shell X 1</p>-->
							<!--                                </div>-->
							<!--                            </div>-->
						</div>
					</li>
					<li class="baozhuang actives" id="li2">
						<div class="guiGebox">
							<div class="guiGe" th:each="group : ${item.groupAttrs}">
								<h3 th:text="${group.groupName}">main body</h3>
								<dl>
									<div th:each="attr : ${group.attrs}">
										<dt th:text="${attr.attrName}">brand</dt>
										<dd th:text="${attr.attrValue}">Huawei(HUAWEI)</dd>
									</div>
								</dl>
							</div>
							<div class="package-list">
								<h3>packing list</h3>
								<p>Mobile phone (with built-in battery) X 1,5AHigh current HuaweiSuperChargechargerX 1,5A USBdata cable X 1, semi-in-ear wire-controlled headphones X 1,Quick GuideX 1, Three Guarantees Certificate X
									1, card removal pin X 1, protective shell X 1</p>
							</div>
						</div>
					</li>
					<!--Package-->
					<li class="baozhang actives" id="li3">
						<div class="oBox">
							<div class="shuoHou">
								<div class="baoZhang">
									<h2>After-sale guarantee</h2>
								</div>
							</div>
							<!--Manufacturer services-->
							<div class="changJia">
								<div class="lianBao">
				<span class="oImg">
					<img src="/static/item/img/2017.jpg" alt=""/>
					<h3>Manufacturer services</h3>
				</span>
									<div class="wenZi">
										This product is jointly guaranteed nationwide and enjoys three guarantees. The warranty period is: one year.<br/>
										If due to quality problems or malfunctions, you can enjoy the product with the quality inspection certificate from the manufacturer's maintenance center or specially appointed maintenance point.7Return within the day,15Exchange within the day,15Enjoy free warranty and other security services during the warranty period!<br/>
										(Note: If the manufacturer has instructions on after-sales guarantee in the product introduction, this product will be provided with after-sales guarantee service in accordance with the manufacturer's instructions.)You can check the practice methods of this brand in after-sales service centers in various places.<a
											href="/static/item/#">Please click here to inquire...</a><br/><br/>
									</div>
								</div>
								<div class="lianBao oCn">
				<span class="oImg">
					<img src="/static/item/img/2017.jpg" alt=""/>
					<h3>JD.com Commitment</h3>
				</span>
									<div class="wenZi">
										This product is jointly guaranteed nationwide and enjoys three guarantees. The warranty period is: one year.<br/>
										If due to quality problems or malfunctions, you can enjoy the product with the quality inspection certificate from the manufacturer's maintenance center or specially appointed maintenance point.7Return within the day,15Exchange within the day,15Enjoy free warranty and other security services during the warranty period!<br/>
										(Note: If the manufacturer has instructions on after-sales guarantee in the product introduction, this product will be provided with after-sales guarantee service in accordance with the manufacturer's instructions.)You can check the practice methods of this brand in after-sales service centers in various places.<a
											href="/static/item/#">Please click here to inquire...</a><br/><br/><br/>
									</div>
								</div>

								<div class="lianBao ">
				<span class="oImg">
					<img src="/static/item/img/2017.jpg" alt=""/>
					<h3>Genuine licensed goods</h3>
				</span>
									<div class="wenZi hangHuo">
										Jingdong Mall assures you that all the products sold are genuine and genuine. Jingdong’s self-operated products will issue machine-printed invoices or electronic invoices.
									</div>
								</div>
								<div class="lianBao quanGuo">
				<span class="oImg">
					<img src="/static/item/img/2017-1.jpg" alt=""/>
					<h3>Nationwide joint guarantee</h3>
				</span>
									<div class="wenZi">
										With the quality guarantee certificate and JD.com invoice, you can enjoy the nationwide joint warranty service (except for luxury goods and watches; luxury goods and watches are guaranteed by JD.com and enjoy the statutory three-guarantee after-sales service), and enjoy the same quality assurance as the goods you purchase in person at the mall. Jingdong Mall also provides you with competitive product prices and shipping policies, so please feel free to buy!
										<br/>

										Note: Because manufacturers will change product packaging, origin, or some attachments without any prior notice, our company cannot ensure that the goods received by customers are completely consistent with the store pictures, origin, and attachment descriptions. We can only ensure that they are genuine products from the original factory! And it is guaranteed to be consistent with the same mainstream new products on the market at that time. If this mall is not updated in time, please understand!
									</div>
								</div>
								<!--Rights statement-->
								<div class="quanLi">
									<h4>Rights statement:</h4>
									<div class="jingDong">
										All product information, customer reviews, product consultations, netizen discussions and other content on JD.com are important business resources of JD.com and are prohibited from illegal reproduction or use without permission.<br/>
										<span class="oZhu">Note</span>: The product information on this site comes from partners, and the information owner (partner) is responsible for its authenticity, accuracy and legality. This site does not provide any guarantee and does not assume any legal liability.
									</div>
								</div>
								<div class="quanLi jiaGe">
									<h4>price description:</h4>
									<div class="jingDong">
										<span class="oZhu">Jingdong price</span>: The JD price is the sales price of the product and is the basis for your final decision on whether to purchase the product.<br/>
										<span class="oZhu">crossed price</span>: The underlined price displayed on the product is a reference price. This price may be the brand counter price, product tag price, or the genuine retail price provided by the brand supplier (such as the manufacturer's guide price, suggested retail price, etc.) or the sales price of the product that has been displayed on the JD platform; due to differences in region and time and market fluctuations, the brand counter price, product tag price, etc. may be inconsistent with what is displayed when you shop. This price is for your reference only.<br/>
										<span class="oZhu">Discount</span>: Unless otherwise specified, discount refers to the discount ratio or amount calculated by the seller based on a certain price such as the original price or the crossed-out price (such as brand counter price, product tag price, manufacturer's guide price, manufacturer's suggested retail price); if you have any questions, you can contact the seller for consultation before purchasing.<br/>
										<span class="oZhu">Unusual problem</span>: Product promotion information is displayed on the product details page“Promotion”The information in the column shall prevail; the specific selling price of the product shall be subject to the price on the order settlement page; if you find any abnormality in the selling price or promotional information of the event product, it is recommended to contact the seller for consultation before purchasing.
									</div>
								</div>
							</div>


						</div>
					</li>
					<!--evaluate-->
					<li class="PINgjia actives" id="li4">
						<div class="h3">
							<h3>Product evaluation</h3>
						</div>
						<div class="nav">
							<div class="left">
								<p class="haoping">favorable rating</p>
								<p><span>100%</span></p>
							</div>
							<div class="right">
								<ul>
									<li>
										<a href="/static/item/##">It’s fast (424)</a>
									</li>
									<li>
										<a href="/static/item/##">Logistics is very fast (254) </a>
									</li>
									<li>
										<a href="/static/item/##">genuine (168)</a>
									</li>
									<li>
										<a href="/static/item/##">Classy (158)</a>
									</li>
									<li>
										<a href="/static/item/##">Domestic brands (133)</a>
									</li>
									<li>
										<a href="/static/item/##">Beautiful appearance (103)</a>
									</li>
									<li>
										<a href="/static/item/##">Very powerful (75)</a>
									</li>
									<li>
										<a href="/static/item/##">responsive (68)</a>
									</li>
									<li>
										<a href="/static/item/##">High cost performance (60)</a>
									</li>
									<li>
										<a href="/static/item/##">Price concessions (50)</a>
									</li>
									<li>
										<a href="/static/item/##">Fully functional (49)</a>
									</li>
									<li style="background: gainsboro;">
										<a href="/static/item/##">too slow (5)</a>
								</ul>
							</div>
						</div>
						<!--All reviews-->
						<div class="allpingjia">
							<ul>
								<li><a href="/static/item/##">All reviews (4.2Ten thousand)</a></li>
								<li><a href="/static/item/##">blueprint(500)</a></li>
								<li><a href="/static/item/##">Chase (200+)</a></li>
								<li><a href="/static/item/##">Good reviews (4.1Ten thousand)</a></li>
								<li><a href="/static/item/##">Neutral rating (100+)</a></li>
								<li><a href="/static/item/##">Negative review (100+)</a></li>
								<li><a href="/static/item/##"><input type="checkbox"/>Only view current product prices</a></li>
								<li class="imga" style="float: right;"><a href="/static/item/##">Recommended sorting <img
										src="/static/item/img/animaite.png"/> </a>
								</li>
							</ul>
						</div>
					</li>
					<li class="shuoming actives" id="li5"></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="headera">
	<div class="Logo-tu">
		<span><img src="/static/item/img/service_items_1.png"/></span>
		<span><img src="/static/item/img/service_items_2.png"/></span>
		<span><img src="/static/item/img/service_items_3.png"/></span>
		<span><img src="/static/item/img/service_items_4.png"/></span>
	</div>
	<div class="table">
		<dl>
			<dt><a href="/static/item/##">shopping guide</a></dt>
			<dd>
				<a href="/static/item/##">Shopping process</a>
			</dd>
			<dd>
				<a href="/static/item/##">Member introduction</a>
			</dd>
			<dd>
				<a href="/static/item/##">life travel/Group buying</a>
			</dd>
			<dd>
				<a href="/static/item/##">FAQ</a>
			</dd>
			<dd>
				<a href="/static/item/##">major appliances</a>
			</dd>
			<dd>
				<a href="/static/item/##">Practice customer service</a>
			</dd>
		</dl>
		<dl>
			<dt><a href="/static/item/##">Delivery method</a></dt>
			<dd>
				<a href="/static/item/##">Pick up at your door</a>
			</dd>
			<dd>
				<a href="/static/item/##">211Limited time delivery</a>
			</dd>
			<dd>
				<a href="/static/item/##">Delivery service inquiry</a>
			</dd>
			<dd>
				<a href="/static/item/##"></a>
			</dd>
			<dd>
				<a href="/static/item/##">Overseas delivery</a>
			</dd>
			<dd></dd>
		</dl>
		<dl>
			<dt><a href="/static/item/##">Payment method</a></dt>
			<dd>
				<a href="/static/item/##">cash on delivery</a>
			</dd>
			<dd>
				<a href="/static/item/##">Pay online</a>
			</dd>
			<dd>
				<a href="/static/item/##">installment</a>
			</dd>
			<dd>
				<a href="/static/item/##">Post office remittance</a>
			</dd>
			<dd>
				<a href="/static/item/##">Company transfer</a>
			</dd>
			<dd></dd>
		</dl>
		<dl>
			<dt><a href="/static/item/##">After-sales service</a></dt>
			<dd>
				<a href="/static/item/##">After-sales policy</a>
			</dd>
			<dd>
				<a href="/static/item/##">price protection</a>
			</dd>
			<dd>
				<a href="/static/item/##">Refund instructions</a>
			</dd>
			<dd>
				<a href="/static/item/##">Repair/Return or exchange</a>
			</dd>
			<dd>
				<a href="/static/item/##">Cancel order</a>
			</dd>
			<dd></dd>
		</dl>
		<dl class="dls">
			<dt><a href="/static/item/##">Special services</a></dt>
			<dd>
				<a href="/static/item/##">Treasure Island</a>
			</dd>
			<dd>
				<a href="/static/item/##">DIYInstallation</a>
			</dd>
			<dd>
				<a href="/static/item/##">Extended warranty service</a>
			</dd>
			<dd>
				<a href="/static/item/##">JingdongECard</a>
			</dd>
			<dd>
				<a href="/static/item/##">JD Communications</a>
			</dd>
			<dd>
				<a href="/static/item/##">JingdongJD+</a>
			</dd>
		</dl>
	</div>
	<!--about Us-->
	<div class="guanyuwomen">
		<ul>
			<li>
				<a href="/static/item/##">about Us</a>
			</li>
			<li>|</li>
			<li>
				<a href="/static/item/##">Contact us</a>
			</li>
			<li>|</li>
			<li>
				<a href="/static/item/##">Contact customer service</a>
			</li>
			<li>|</li>
			<li>
				<a href="/static/item/##">Cooperation and investment</a>
			</li>
			<li>|</li>
			<li>
				<a href="/static/item/##">Merchant help</a>
			</li>
			<li>|</li>
			<li>
				<a href="/static/item/##">Marketing Center</a>
			</li>
			<li>|</li>
			<li>
				<a href="/static/item/##">JD Mobile</a>
			</li>
			<li>|</li>
			<li>
				<a href="/static/item/##">Friendly links</a>
			</li>
			<li>|</li>
			<li>
				<a href="/static/item/##">sales alliance</a>
			</li>
			<li>|</li>
			<li>
				<a href="/static/item/##">Jingdong Community</a>
			</li>
			<li>|</li>
			<li>
				<a href="/static/item/##">Risk detection</a>
			</li>
			<li>|</li>
			<li>
				<a href="/static/item/##">privacy policy</a>
			</li>
			<li>|</li>
			<li>
				<a href="/static/item/##">Jingdong Charity</a>
			</li>
			<li>|</li>
			<li>
				<a href="/static/item/##">English Site</a>
			</li>
			<li>|</li>
			<li>
				<a href="/static/item/##">Mdeila $ IR</a>
			</li>
		</ul>
	</div>
	<!--jieshoa-->
	<p class="p1"><img src="/static/item/img/56a0a994Nf1b662dc.png"/>
		<a href="/static/item/##"> Beijing public network security 11000002000088Number</a>|
		<a href="/static/item/##"> BeijingICPcertificate070359Number</a>|
		<a href="/static/item/##"> Internet Drug Information Service Qualification Certificate Number(Beijing)-Business-2014-0008 </a>|
		<a href="/static/item/##">Xinde Jingling has the largest character120007Number</a>
	</p>
	<p class="p1">
		<a href="/static/item/##"> Internet Publishing License Number New Network Certificate(Beijing)Character150Number</a>|
		<a href="/static/item/##"> Publication business license</a>|
		<a href="/static/item/##"> Internet Culture Business License Beijing Internet Culture </a>|
		<a href="/static/item/##">[2014]2148-348Number </a>|
		<a href="/static/item/##"> Illegal and harmful information reporting hotline </a>|
		<a href="/static/item/##">:4006561155 </a>
	</p>
	<p class="p1">
		<a href="/static/item/##"> Copyright © 2004-2017 JingdongJD.com all rights reserved</a>|
		<a href="/static/item/##"> Consumer Rights Protection Hotline:4006067733 Business license</a>|
	</p>
	<p class="p1">
		<a href="/static/item/##"> JD.com’s website: JD.com Pay</a>|
		<a href="/static/item/##"> JD Cloud</a>
	</p>
	<p class="p3">
		<img src="/static/item/img/54b8871eNa9a7067e.png"/>
		<img src="/static/item/img/54b8872dNe37a9860.png"/>
		<img src="/static/item/img/54b8875fNad1e0c4c.png"/>
		<img src="/static/item/img/5698dc03N23f2e3b8.jpg"/>
		<img src="/static/item/img/5698dc16Nb2ab99df.jpg"/>
		<img src="/static/item/img/56a89b8fNfbaade9a.jpg"/>
	</p>
</div>
<div class="Fixedbian">
	<ul>
		<li class="li1"><a class="aaa" href="/static/item/##">top</a></li>
	</ul>
</div>
<div class="gouwuchexiaguo">
	<img src="/static/item/img/44.png"/>
	<span>There are no items in the shopping cart yet, hurry up and buy now!</span>
</div>
</body>

<script src="/static/item/js/jquery1.9.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/item/js/js.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
</script>

<script>
	$(".sku_attr_value").click(function () {
		// 1, add custom attributes to the clicked element
		let skus = new Array();
		let curr = $(this).attr("skus").split(",");

		$(this).parent().parent().find(".sku_attr_value").removeClass("checked");
		$(this).addClass("checked");
		changeCheckedStyle();

		$("a[class='sku_attr_value checked']").each(function () {
			skus.push($(this).attr("skus").split(","));
		});
		let filterEle = skus[0];
		for (let i = 1; i < skus.length; i++) {
			filterEle = $(filterEle).filter(skus[i])[0];
		}

		location.href = "http://item.gulimall.com/" + filterEle + ".html";

		return false;
	});
	$(function () {
		changeCheckedStyle();
	});

	function changeCheckedStyle() {
		$(".sku_attr_value").parent().css({"border": "solid 1px #ccc"});
		$("a[class='sku_attr_value checked']").parent().css({"border": "solid 1px red"});
	};


	$(".addToCart").click(function () {
		let skuId = $(this).attr("skuId");
		let num = $("#productNum").val();
		location.href = "http://cart.gulimall.com/addCartItem?skuId=" + skuId + "&num=" + num;
		return false;
	});

	$(".seckill").click(function () {
		var isLogin = [[${session.loginUser != null}]];     //true
		if (isLogin) {
			var killId = $(this).attr("sessionid") + "-" + $(this).attr("skuid");
			var code = $(this).attr("code");
			var num = $("#productNum").val();
			location.href = "http://seckill.gulimall.com/kill?killId=" + killId + "&key=" + code + "&num=" + num;
		} else {
			alert("Please log in first for flash sale");
		}
		return false;
	});

</script>

</html>
